{% extends 'base.html' %}

{% block titulo %}Confirmación para poblar la base de datos{% endblock %}
{% block contenido %}
    <hr>
    <div class="container" style="margin-top: 15%;">
        <h2>Está a punto de repoblar la base de datos, este proceso puede ser bastante lento, ¿está seguro de que quiere realizar esta acción?</h2>
        <br>
        <div class="container">
            <a class="btn btn-success btn-block" href="/populate">Aceptar y esperar</a>
            <a class="btn btn-danger btn-block" href="/">Cancelar y volver al inicio</a>
        </div>
    </div>
{% endblock %}